.row {
    margin-top: 20px;
}

.card-img-top {
    border-radius: 20px;
}

.card {
    border-radius: 20px;
}

.col:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }